.all{
  text-align: center;
  margin-top: 300px;
}

.all span{
  font-size: 25px;
}

.all button {
  padding: 10px 30px;
  margin: 0px 20px;
  background-color: black;
  color: white;
  border-radius: 20px;
}